/* Google Fonts as fallback */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'InterVar';
  src: url('./../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('./../assets/fonts/JetBrainsMono-VariableFont_wght.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('woff2');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}
