/* You can add global styles to this file, and also import other style files */

// Override Bootstrap shadow variables before importing Bootstrap

@import './scss/fonts';
@import './scss/typography';
@import './scss/custom-typography';
@import './scss/variable';
@import 'bootstrap/scss/bootstrap';
@import './scss/utilities';

html {
  font-size: clamp(1rem, 0.95rem + 0.6vw, 1.25rem);
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
